header {
    position: fixed;
    top:0;
    text-align: center;
    height: 40px;
    font-weight: bolder;
    font-size: 30px;
}

body {
    
}

.TopPage {
    color:white;
    font-weight: bolder;
    padding-right: 15px;
    background: rgb(151, 153, 149)
}

.Home {
    border-radius: 20px;
    background: #80d10f;
    padding: 20px;
    padding-top: 20px;
    width: 250px;
    height: 70px;
    color: white;
    cursor: pointer;
}
.home a {
    border-radius: 25px;
    background: #80d10f;
    padding: 20px;
    padding-top: 20px;
    width: 250px;
    height: 70px;  
    color:white;
    cursor:pointer;
}

.comparison {
    text-align: center;
    background-color: rgb(78, 62, 221);
    box-shadow: none 20px 50px 15px grey;

}
.comparison h3 {
    padding-top: 10px;
    padding-bottom: 10px;

}